.carousel-item {
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
  padding: 50px;
  cursor: pointer;
  transition-duration: 300ms;
}

.carousel-item:hover {
  transform: scale(105%);
}

.carousel-item:nth-child(1) {
  left: 10px;
  animation-name: slide;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.carousel-item:nth-child(2) {
  left: 450px;
  animation-name: slide;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.carousel-item:nth-child(3) {
  left: 850px;
  animation-name: slide;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.carousel-item:nth-child(4) {
  left: 10px;
}
.carousel-item:nth-child(5) {
  left: 450px;
}
.carousel-item:nth-child(6) {
  left: 850px;
}

@keyframes slide {
  0% {
    top: 0px;
    transform: rotate(0deg);
  }

  25% {
    top: 20px;
    transform: rotate(10deg);
    opacity: 0.8;
  }

  50% {
    top: 0px;
    transform: rotate(0deg);
    opacity: 0;
  }

  75% {
    top: 20px;
    transform: rotate(-10deg);
    opacity: 0.8;
  }

  100% {
    top: 0px;
    transform: rotate(0deg);
    opacity: 0;
  }
}
