.nav-container {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background: rgba(31, 37, 68, 0.4);
  z-index: 2;
}

.nav-right {
  position: absolute;
  width: 70%;
  left: 50px;
  top: 10px;
}

.nav-left {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 30%;
  right: 0;
  top: 10px;
}

.nav-right-content {
  display: flex;
  justify-content: space-around;
}

.nav-option {
  width: 150px;
  padding: 20px;
  text-align: center;
  background: #232d3f;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  font-family: monospace;
  font-size: 20px;
  cursor: pointer;
}
