.account-profile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 15px;
  background: #f6851a;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 3px 10px rgba(119, 59, 14);
  z-index: 1;
}

.networks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  width: 100%;
  overflow: scroll;
}

.address-switch-container {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.account-exit {
  position: absolute;
  bottom: 0;
  right: 1px;
}

.chain-option,
.chain-option-selected {
  width: 100%;
  padding: 10px;
  background: rgb(90, 34, 139);
  text-align: center;
  cursor: pointer;
  margin-bottom: 2px;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: white;
}

.chain-option-selected {
  background: rgb(159, 90, 253);
}

.chain-option:last-child {
  margin-bottom: 0;
}

.chain-option:hover {
  background: rgb(159, 90, 253);
}
