.time-out-outer-container {
  width: 400px;
  margin-top: 50px;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 40px;
  background: black;
  color: white;
}

.time-outer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  columngap: 5px;
}
