.bid-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff7fc;
  padding: 10px;
  border-radius: 5px;
  overflow: scroll;
  height: 500px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.bid-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}
