.bid-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6f77a1;
  padding: 10px;
  border-radius: 5px;
  overflow: scroll;
  min-height: 150px;
  max-height: 500px;
  width: 90%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  margin: 15px;
}

.bid-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.bid-list-header {
  text-transform: uppercase;
  font-weight: bold;
}

.bid-list-content {
  display: flex;
  height: 50px;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.blind-auction-options {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 10px;
}

.bid-button {
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  border: 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background: #2d3250;
  color: white;
}
