.tokens-window-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  column-gap: 10px;
  row-gap: 10px;
  height: 500px;
  overflow: scroll;
  background: #7077a1;
  width: 670px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border: 1px solid black;
}
