.nft-section {
  padding: 5px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.5);
  margin: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.section-heading {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* color: white; */
}

.section-heading-title {
  font-size: 36px;
  margin-left: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
