.profile-details-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: monospace;
  font-size: 12px;
}

.details-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -20px;
}

.balance-info {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  user-select: none;
}
